.crypto-card-container{
    min-height: 65vh !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 450px;
}
.crypto-card-container{
    min-height: 65vh !important;
    
}
.crypto-card{
    min-width: 270px;
}
.crypto-card .crypto-image{
    width:35px;
}